.AboutEnvironment {
  margin-bottom: 140px;
  height: 400px;
  width: 100%;
  background-color: rgb(250, 109, 57);
}

.AboutEnvironment .AboutEnvironment_rows {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AboutEnvironment .AboutEnvironment_rows img {
  margin-top: 50px;
  height: 350px;
  width: 450px;
  border-radius: 10px/10px;
  box-shadow: 0px 2px 5px 0px rgba(153, 153, 153, 0.75);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(153, 153, 153, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(153, 153, 153, 0.75);
}

.AboutEnvironment .AboutEnvironment_rows .content {
  padding-left: 60px;
  width: 500px;
  text-align: justify;
}

.AboutEnvironment .AboutEnvironment_rows .content h1 {
  letter-spacing: 2px;
}

.AboutEnvironment .AboutEnvironment_rows .content h3 {
  color: white;
}

.AboutEnvironment .AboutEnvironment_rows .content span {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-size: 33px;
  color: black;
  background-color: rgb(255, 255, 255);
}

.AboutEnvironment .AboutEnvironment_rows .content p {
  letter-spacing: 1px;
}

.AboutEnvironment .AboutEnvironment_rows .content a {
  border-radius: 50px;
}

/* responsive */
@media (max-width:1100px) {
  .AboutEnvironment {
    padding: 10px;
    margin-bottom: 0;
    height: fit-content;
    background-color: white;
  }

  .AboutEnvironment .AboutEnvironment_rows {
    flex-direction: column;
  }

  .AboutEnvironment .AboutEnvironment_rows img {
    margin-top: 0;
    margin-bottom: 40px;
    height: 100%;
    width: 100%;
  }

  .AboutEnvironment .AboutEnvironment_rows .content {
    padding-left: 0;
    width: 100%;
  }

  .AboutEnvironment .AboutEnvironment_rows .content h1 {
    font-size: 28px;
  }

  .AboutEnvironment .AboutEnvironment_rows .content span {
    padding-bottom: 3px;
    background-color: black;
    font-size: 26px;
    color: white;
  }

  .AboutEnvironment .AboutEnvironment_rows .content h3 {
    margin-top: 15px;
    color: black;
  }

  .AboutEnvironment .AboutEnvironment_rows .content p {
    /* padding: 15px; */
    text-align: justify;
  }

}

/* mobile view */
@media (max-width:600px) {
  .AboutEnvironment {
    padding: 30px;
  }
}