.store_nav {
 padding: 0;
 display: flex;
 justify-content: space-between;
 background-color: rgb(80, 80, 80);
}

.store_nav span {
 padding: 5px;
 width: 100%;
 display: flex;
 justify-content: center;
 color: white !important;
 cursor: pointer;
}

.store_nav span:nth-child(1) {
 background-color: black !important;
}

.store_nav span:hover {
 background-color: black !important;
}


/* responsive */
@media (max-width:350px) {
 .store_nav span {
  font-size: 12px;
 }
}