.install_navbar{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.install_navbar_row{
    width:80%;
    border-radius: 10px !important;
    display: flex;
    justify-content: center;
    box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
    -webkit-box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
    -moz-box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
}
.brand_cont{
    width:100%;
    display: flex;
}
.install_navbar_img {
    margin-top: 5px;
    margin-right: 20px;
    height: 97px;
    width: 100px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    background-color: #e5e5e5;
}

.install_navbar_img img {
    height: 40px;
    width: 70px;
}
.install_navbar span {
    top: -10px;
    font-size: 14px;
    position: relative;
}
