.languages {
  padding-top: 20px;
  padding-bottom: 20px;
}

.languages #title {
  font-weight: bold;
}

.languages .icon_container {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 20px;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}

.languages .icon_container #icon {
  height: 100px;
  width: 100px;
}

@media (max-width:1100px) {
  .languages {
    padding-top: 0px;
    padding-bottom: 0;
  }

  .languages .icon_container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0px;
    height: 50px;
    flex-wrap: wrap;
  }

  .languages .icon_container #icon {
    height: 50px;
    width: 50px;
  }
}