.cardRow1 {
 width: 100%;
 display: flex;
 justify-content: space-evenly;
}

.cardRow_card {
 padding: 25px;
 height: fit-content;
 width: 400px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 20px;
 box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
 -webkit-box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
 -moz-box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
}

.cardRow #cardRow_card2 {
 margin-top: 100px;
}

.cardRow #cardRow_card2 .sub_title, .cardRow #cardRow_card2 .card_features span .dot, .cardRow #cardRow_card2 .apply {
 background-color: rgb(255, 94, 0);
}

.cardRow #cardRow_card3 .sub_title, .cardRow #cardRow_card3 .card_features span .dot, .cardRow #cardRow_card3 .apply {
 background-color: rgb(8, 25, 43);
}

.cardRow #cardRow_card4{
  margin-top: 100px;
} 
.cardRow #cardRow_card4 .sub_title, .cardRow #cardRow_card4 .card_features span .dot, .cardRow #cardRow_card4 .apply {
 background-color:rgb(206, 136, 7);
}

.cardRow_card button {
 font-size: 12px;
 background-color: rgb(7, 190, 68);
 color: white;
}

.cardRow_card .card_features span {
 margin-top: 10px;
 display: flex;
}

.dot {
 margin-top: 4px;
 margin-right: 10px;
 height: 12px;
 width: 12px;
 background-color: rgb(7, 190, 68);
 border-radius: 10px;
}

.cardRow_card .apply {
 font-size: 16px;
 width: 250px;
}