.intro_container {
 box-shadow: 1px 2px 5px 0px rgba(230, 230, 230, 0.75);
 -webkit-box-shadow: 1px 2px 5px 0px rgba(230, 230, 230, 0.75);
 -moz-box-shadow: 1px 2px 5px 0px rgba(230, 230, 230, 0.75);
}

.col1 {
 padding-top: 100px;
 padding-left: 100px;
 width: 50%;
}

.col2 {
 width: 50%;
}

.intro_para {
 width: 500px;
}

.listen_btn {
 background-color: #19dd6b;
}