.navbar {
   margin-bottom: 10px;
   padding: 15px;
   width: 80%;
   color: white;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 10px !important;
   background-color: rgba(0, 0, 0, 0.7);
   box-shadow: 0px 0px 5px 0px rgba(197, 197, 197, 0.75);
   -webkit-box-shadow: 0px 0px 5px 0px rgba(180, 180, 180, 0.75);
   -moz-box-shadow: 0px 0px 5px 0px rgba(199, 199, 199, 0.75);
}

.navbar li {
   margin-top: 0;
   margin-left: 50px;
   margin-right: 50px;
   list-style: none;
   cursor: pointer;
   filter: blur(0px);
   background-color: unset !important;
}
.navbar li a{
   background-color: unset !important;
}
.navbar #avatar{
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
   border-radius: 40px !important;
}
.css-1wlk0hk-MuiAvatar-root {
   border-radius:50% !important;
}
.navbar li:hover {
   color: red;
}

.navbar li a {
   color: white !important;
}

.navbar .shortcut_btn {
   padding: 5px;
   color: black;
   visibility: visible;
   border-radius: 50%;
   position: fixed;
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
   display: none;
}

/* mobile nav */
.resp_nav {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(228, 227, 227, 0.7);
   backdrop-filter: blur(4px);
   position: absolute;
   z-index: 44;
}

.resp_nav .items {
   padding: 60px;
   padding-top: 10px;
   padding-bottom: 40px;
   width: fit-content;
   border-radius: 10px;
   background-color: white;
}

.resp_nav .items li {
   margin-top: 20px;
   padding: 10px;
   width: 170px;
   text-align: center;
   list-style: none;
   border: 1px solid white;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.resp_nav .items li:hover {
   background-color: aliceblue;
}

.profile_nav{
   padding:20px;
   right:20px;
   height:fit-content;
   width:300px;
   border-radius:10px !important;
   background-color: #f6f6f6;
   color: #3d3d3d;
   position:absolute;
   visibility:visible !important;
   backdrop-filter: blur(100px);
   box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
   -webkit-box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
   -moz-box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
}
#cancleIcon{
   background:unset !important;
   cursor: pointer;
   transition:0.3s ease-in-out;
}
#cancleIcon:hover{
  opacity:0.8;
   transform:rotate(180deg);
}

.profile_nav .pic{
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   background-color:unset !important;
}
.profile_nav .pic img{
   height:80px;
   width: 80px;
   border:0.5px solid white;
   border-radius: 50px !important;
   box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
   -webkit-box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
   -moz-box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
}
.profile_nav .pic p{
   background:unset !important;
}
.profile_nav .profile_nav_row{
   display: flex;
   justify-content:space-around;
   background-color: unset !important;
}
.profile_nav .profile_nav_row .nav_card{
   padding-top:10px;
   height:fit-content;
   width: 100px;
   background-color: unset !important;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: black;
   cursor: pointer;
   transition:0.3s ease-in-out;
   box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
   -webkit-box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
   -moz-box-shadow: 1px 0px 5px 2px rgba(181, 181, 181, 0.47);
}
.profile_nav .profile_nav_row .nav_card:hover{
   transform:scale(1.04);
}
.profile_nav .profile_nav_row .nav_card img{
   height:30px;
   width: 30px;
   background:unset !important;
}
.profile_nav .profile_nav_row .nav_card p{
   background-color:unset !important ;
}

/* responsive */
@media (max-width:1300px) {
   .navbar {
      width: 80%;
   }
}

@media (max-width:1100px) {
   .navbar {
      padding-right: 30px;
      width: 100%;
      display: flex;
      justify-content: end;
      visibility: hidden;
   }

   .navbar li {
      font-size: 14px;
      display: none;
   }

   .navbar .shortcut_btn {
      display: flex;
      margin-top: -50px;
   }

   .resp_nav {
      display: none;
   }

}

@media (max-width:310px){
   .profile_nav{
      width: 100%;
      left: 0;
   }
}