@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Roboto+Mono:wght@500&display=swap');

.intro {
 height: 100vh;
 padding-bottom: 0px;
 overflow: hidden;
}

.intro .comp1 h1 {
 top: 50px;
 left: 20%;
 font-size: 150px;
 letter-spacing: 1px;
 position: absolute;
 font-family: 'Almarai', sans-serif;
}

.intro .comp1 h1 #u {
 left: -30px;
 top: 35px;
 color: red;
 position: relative;
}

.intro .comp1 h1 #res {
 left: -105px;
 top: -50px;
 position: relative;
}

.intro .comp1 img {
 height: 500px;
 width: 50%;
 border-radius: 5px;
 position: relative;
 z-index: -1;
}

/* stylus support */


.intro .comp2 {
 margin-top: -200px;
 margin-left: 40%;
 padding: 60px;
 padding-top: 40px;
 padding-bottom: 30px;
 height: fit-content;
 width: fit-content;
 border-radius: 5px;
 background-color: white;
 box-shadow: 0px 2px 5px 0px rgba(153, 153, 153, 0.75);
 -webkit-box-shadow: 0px 2px 5px 0px rgba(153, 153, 153, 0.75);
 -moz-box-shadow: 0px 2px 5px 0px rgba(153, 153, 153, 0.75);
}

.intro .comp2 .comp2_header {
 display: flex;
}

.intro .comp2 .comp2_header .comp2_header_title {
 margin-left: 20px;
 letter-spacing: 1px;
 font-family: 'Almarai', sans-serif;
}

.intro .comp2 .comp2_header #pen1 {
 right: 0;
 height: 40px;
 width: 15%;
 position: absolute;
}

.intro .comp2 .comp2_footer {
 display: flex;
}

.intro .comp2 .comp2_footer #pen2 {
 margin-left: 10px;
 margin-right: 60px;
 height: 200px;
}

.intro .comp2 .comp2_footer h3 {
 padding-right: 20px;
 font-weight: lighter !important;
}

.intro #intro_liner {
 top: 60%;
 left: 17%;
 height: 40%;
 position: absolute;
 z-index: -2;
}


/* responsiveness */
@media (max-width:992px) {
 .intro {
  height: 70vh;
 }

 .intro .comp1 h1 {
  font-size: 100px;
 }

 .intro .comp1 h1 #u {
  left: -20px;
  top: 30px;
 }

 .intro .comp1 h1 #res {
  left: -70px;
  top: -40px;
  position: relative;
 }

 .intro .comp2 {
  /* margin-top: -300px; */
  padding: 20px;
 }

 .intro .comp1 img {
  height: 400px;
 }

 .intro #intro_liner {
  top: 30%;
  height: 40%;
  position: absolute;
  z-index: -2;
 }

 .intro .comp2 .comp2_header .comp2_header_title {
  font-size: 30px;
 }

 .intro .comp2 .comp2_header #pen1 {
  display: none;
 }

 .intro .comp2 .comp2_footer #pen2 {
  height: 120px;
  margin-right: 20px;
 }

 .intro .comp2 .comp2_footer h3 {
  font-size: 20px;
 }
}

@media (max-width:770px) {
 .intro .comp1 h1 {
  font-size: 70px;
 }

 .intro .comp1 h1 #u {
  left: -10px;
  top: 14px;
 }

 .intro .comp1 img {
  margin-top: 60px;
  height: 350px;
  width: 100%;
 }

 .intro .comp1 h1 #res {
  left: -46px;
  top: -20px;
 }

 .intro .comp2 {
  margin-left: 0px;
  padding: 20px;
 }

 .intro .comp2 .comp2_header .comp2_header_title {
  font-size: 30px;
 }

 .intro .comp2 .comp2_header #pen1 {
  display: none;
 }

 .intro .comp2 .comp2_footer #pen2 {
  height: 120px;
  margin-right: 20px;
 }

 .intro .comp2 .comp2_footer h3 {
  font-size: 20px;
 }
}


@media (max-width:530px) {
 .intro .comp1 img {
  margin-top: 50px;
 }

 .intro .comp1 h1 {
  left: 10%;
 }
}

@media (max-width:430px) {
 .intro .comp1 h1 {
  font-size: 60px;
 }

 .intro .comp1 h1 #res {
  left: -41px;
 }
}

@media (max-width:365px) {
 .intro .comp1 h1 {
  font-size: 50px;
 }

 .intro .comp1 h1 #res {
  top: -15px;
  left: -35px;
 }
}


@media (max-width:390px) {
 .intro .comp2 {
  padding: 10px;
 }

 .intro .comp1 img {
  margin-top: 30px;
  height: 280px;
  width: 100%;
 }

 .intro .comp1 h1 {
  top: 20px;
  left: 10%;
 }
}