@import url('https://fonts.googleapis.com/css2?family=Karla&family=PT+Sans&display=swap');


/* dark mode css */
/* * {
  color: white !important;
  background-color: rgb(10, 7, 7) !important;
  box-shadow: none !important;
  border-radius:0.1 !important;
}

.btn, button{
  border: 0.2px solid white !important;
  border-radius: 5 !important;
} */





/* custom css */

body {
  background-color: #FBFBFD;
}


p {
  font-family: 'PT Sans', sans-serif;
}

h1, span, h3 {
  color: rgb(46, 31, 31);
}

@media (max-width:1200px) {
  *>h1 {
    font-size: 18px;
  }

  *>h3 {
    font-size: 16px;
  }

  *>p {
    font-size: 15px;
  }
}