.gestureDetection {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#qna_textarea {
  height: 200px;
  width: 60%;
}

#qna_question {
  width: 60%;
}

.qna_btn {
  border-radius: 5px !important;
}