.footer {
 padding-top: 60px;
 height: 450px;
 display: flex;
 justify-content: center;
 background-color: rgb(36, 36, 36) !important;
}

.footer_row {
 padding-top: 50px;
 color: white;
 width: 75%;
 display: flex;
 justify-content: space-around;
 background-color: unset !important;
}

.icons_cont_child {
 margin-left: 15px;
 padding: 8px;
 height: 43px;
 width: 43px;
 border-radius: 50% !important;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 transition: 0.4s ease-out;
 background-color: #565656 !important;
}

.service_col,
.info_col,
.company_col {
 display: flex;
 flex-direction: column;
 background: unset !important;
}

#link {
 margin-bottom: 20px;
 color: rgb(196, 196, 196);
 text-decoration: none;
 cursor: pointer;
}

#link:nth-child(2) {
 margin-top: -10px;
}

#link:hover {
 color: white;
}

.follow_col{
  left: -50px;
 position: relative;
} 

.icons_cont {
 display: flex;
}

.icons_cont_child:hover {
 transform: rotate(-50deg);
 background: rgb(30, 187, 187) !important;
}

.icons_cont_child:nth-child(1) {
 margin-left: -5px;
}