@import url('https://fonts.googleapis.com/css2?family=Karla&family=PT+Sans&display=swap');

html,
body, p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}